<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
           border: 1px solid black;
        }
        #formularios {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <html>
        <a href="/">Voltar</a>
        <h1>Empresas</h1>
        <table>
            <tr>
                <th>idEmpresa</th>
                <th>idEndereco</th>
                <th>idResponsavel</th>
                <th>cnpj</th>
                <th>razaoSocial</th>
                <th>nomeFantasia</th>
                <th>tipo</th>
            </tr>
            <tr th:each="empresa: ${empresas}">
                <td th:text="${empresa.idEmpresa}"/>
                <td th:text="${empresa.idEndereco}"/>
                <td th:text="${empresa.idResponsavel}"/>
                <td th:text="${empresa.cnpj}"/>
                <td th:text="${empresa.razaoSocial}"/>
                <td th:text="${empresa.nomeFantasia}"/>
                <td th:text="${empresa.tipo}"/>
            </tr>
        </table>
        <hr>
        <div id="formularios">
            <form action="/empresas" method="post">
                <h2>Adicionar Empresa</h2>
                <label for="idEndereco">idEndereco:</label>
                <input type="text" id="idEndereco" name="idEndereco" required><br><br>
                <label for="idResponsavel">idResponsavel:</label>
                <input type="text" id="idResponsavel" name="idResponsavel" required><br><br>
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj" required><br><br>
                <label for="razaoSocial">Razão Social:</label>
                <input type="text" id="razaoSocial" name="razaoSocial" required><br><br>
                <label for="nomeFantasia">Nome Fantasia:</label>
                <input type="text" id="nomeFantasia" name="nomeFantasia" required><br><br>
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" required><br><br>
                <input type="submit" value="Adicionar">
            </form>
            <form action="/empresas/atualizar" method="post">
                <h2>Atualizar Empresa</h2>
                <label for="idEmpresa">idEmpresa</label>
                <input type="text" id="idEmpresa" name="idEmpresa" required><br><br>
                <label for="idEndereco">idEndereco:</label>
                <input type="text" id="idEndereco" name="idEndereco" required><br><br>
                <label for="idResponsavel">idResponsavel:</label>
                <input type="text" id="idResponsavel" name="idResponsavel" required><br><br>
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj" required><br><br>
                <label for="razaoSocial">Razão Social:</label>
                <input type="text" id="razaoSocial" name="razaoSocial" required><br><br>
                <label for="nomeFantasia">Nome Fantasia:</label>
                <input type="text" id="nomeFantasia" name="nomeFantasia" required><br><br>
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" required><br><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
        <form action="empresas/deletar" method="post">
            <h2>Deletar Empresa</h2>
            <label for="idEmpresa">idEmpresa:</label>
            <input type="text" id="idEmpresa" name="idEmpresa" required><br><br>
            <input type="submit" value="Deletar">
        </form>
    </html>
</body>
</html>