<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
           border: 1px solid black;
        }
        #formularios {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <html>
        <a href="/">Voltar</a>
        <h1>Funcionários</h1>
        <table>
            <tr>
                <th>idFuncionario</th>
                <th>nome</th>
                <th>ativo</th>
                <th>cpf</th>
                <th>contato</th>
                <th>idCargo</th>
            </tr>
            <tr th:each="funcionario: ${funcionarios}">
                <td th:text="${funcionario.idFuncionario}"/>
                <td th:text="${funcionario.nome}"/>
                <td th:text="${funcionario.ativo}"/>
                <td th:text="${funcionario.cpf}"/>
                <td th:text="${funcionario.contato}"/>
                <td th:text="${funcionario.idCargo}"/>
            </tr>
        </table>
        <hr>
        <div id="formularios">
            <form action="/funcionarios" method="post">
                <h2>Adicionar Funcionário</h2>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome"><br><br>
                <label for="ativo">Ativo:</label>
                <input type="text" id="ativo" name="ativo"><br><br>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf"><br><br>
                <label for="contato">Contato:</label>
                <input type="text" id="contato" name="contato"><br><br>
                <label for="idCargo">idCargo:</label>
                <input type="text" id="idCargo" name="idCargo"><br><br>
                <input type="submit" value="Adicionar">
            </form>
            <form action="/funcionarios/atualizar" method="post">
                <h2>Atualizar Funcionário</h2>
                <label for="idFuncionario">idFuncionario</label>
                <input type="text" id="idFuncionario" name="idFuncionario"><br><br>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome"><br><br>
                <label for="ativo">Ativo:</label>
                <input type="text" id="ativo" name="ativo"><br><br>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf"><br><br>
                <label for="contato">Contato:</label>
                <input type="text" id="contato" name="contato"><br><br>
                <label for="idCargo">idCargo:</label>
                <input type="text" id="idCargo" name="idCargo"><br><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
        <form action="funcionarios/deletar" method="post">
            <h2>Deletar Funcionário</h2>
            <label for="idFuncionario">idFuncionario:</label>
            <input type="text" id="idFuncionario" name="idFuncionario"><br><br>
            <input type="submit" value="Deletar">
        </form>
    </html>
</body>
</html>