<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrato</title>
    <style>
        table, th, td {
           border: 1px solid black;
        }
    </style>
</head>
<body>
    <html>
        <a href="/">Voltar</a>
        <h1>Contratos</h1>
        <table>
            <tr>
                <th>idContrato</th>
                <th>idCliente</th>
                <th>idFuncionario</th>
                <th>idStatus</th>
                <th>idResponsavel</th>
                <th>valor</th>
                <th>descricao</th>
                <th>tipoContrato</th>
                <th>anexo</th>
                <th>prazo</th>
                <th>dataInicio</th>
                <th>dataFinal</th>
            </tr>
            <tr th:each="contrato: ${contratos}">
                <td th:text="${contrato.idContrato}"/>
                <td th:text="${contrato.idCliente}"/>
                <td th:text="${contrato.idFuncionario}"/>
                <td th:text="${contrato.idStatus}"/>
                <td th:text="${contrato.idResponsavel}"/>
                <td th:text="${contrato.valor}"/>
                <td th:text="${contrato.descricao}"/>
                <td th:text="${contrato.tipoContrato}"/>
                <td th:text="${contrato.anexo}"/>
                <td th:text="${contrato.prazo}"/>
                <td th:text="${contrato.dataInicio}"/>
                <td th:text="${contrato.dataFinal}"/>
            </tr>
        </table>
        <hr>
        <h2>Adicionar Contrato</h2>
        <form action="/contratos" method="post">
            <label for="id_cliente">ID Cliente:</label><br>
            <input type="text" id="id_cliente" name="id_cliente"><br>
            <label for="id_funcionario">ID Funcionário:</label><br>
            <input type="text" id="id_funcionario" name="id_funcionario"><br>
            <label for="id_status">ID Status:</label><br>
            <input type="text" id="id_status" name="id_status"><br>
            <label for="id_responsavel">ID Responsável:</label><br>
            <input type="text" id="id_responsavel" name="id_responsavel"><br>
            <label for="valor">Valor:</label><br>
            <input type="text" id="valor" name="valor"><br>
            <label for="descricao">Descrição:</label><br>
            <input type="text" id="descricao" name="descricao"><br>
            <label for="tipo_contrato">Tipo de Contrato:</label><br>
            <input type="text" id="tipo_contrato" name="tipo_contrato"><br>
            <label for="anexo">Anexo:</label><br>
            <input type="text" id="anexo" name="anexo"><br>
            <label for="prazo">Prazo:</label><br>
            <input type="text" id="prazo" name="prazo"><br>
            <label for="data_inicio">Data de Início:</label><br>
            <input type="text" id="data_inicio" name="data_inicio"><br>
            <label for="data_final">Data Final:</label><br>
            <input type="text" id="data_final" name="data_final"><br><br>
            <input type="submit" value="Adicionar">
        </form>
    </html>
</body>
</html>